/* For Firefox */
input[type='number'] {
    -moz-appearance:textfield;
}
/* Webkit browsers like Safari and Chrome */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.form-control {
    border: solid 1px #000;
    padding: 0.5rem;
    font-size: 1.125rem;
}

.btn-plus,
.btn-minus {
    width: 1rem;
    height: 1rem;
    border: 0 none;
    padding: 0;
    background: #999;
    color: $white;
    line-height: 1;
    display: block;
    transition: $transition-base;
    position: relative;
    @include media-breakpoint-down(sm) {
        width: 2.125rem;
        height: 2.125rem;
        display: inline-block;
        vertical-align: top;

    }
    
    &:before {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: 8px;
        height: 16px;
        text-align: center;
        @include media-breakpoint-down(sm){
            font-size: 1.25rem;
            height: 20px;
            width: 16px;
        }
    }

    &:hover:not([disabled]), &:focus:not([disabled]) {
        background: darken(#999, 10%);
        outline-style: none;
    }
}
.btn-plus {
    &:before {
        content: '+';
    }
}
.btn-minus {
    
    @include media-breakpoint-up(sm){
        margin-top: 2px;
    }
    &:before {
        content: '-';
        @include media-breakpoint-up(sm){
            height: 18px;
        }
        
    }
}

.btn-link {
    padding: 0;
    border: 0 none;
    background: transparent;
}

.btn-primary {
    background: $primary;
    color: $white;
    border-radius: 10px;
    font-weight: bold;
    padding: 0.5rem 1.125rem;
    transition: $transition-base;
    box-shadow: 5px 5px 9px -2px rgba(0,0,0,0.75);
    border: 0 none;
    font-size: 1.5rem;
    font-family: sans-serif;
    @include media-breakpoint-down(sm){
        font-size: 1.15rem;
    }

    &:hover:not([disabled]), &:focus:not([disabled]) {
        background: darken($primary, 10%);
        outline-style: none;
    }
    &:disabled,
    &[disabled]{
        border: 1px solid #999999;
        background-color: #cccccc;
        color: #666666;
        opacity: 0.6;
    }
}