body {
    line-height: 1.4;
    font-family: 'Noto Serif', serif;
    background: rgb(251,251,251);
    background: linear-gradient(180deg, rgba(251,251,251,1) 0%, rgba(238,238,238,1) 79%, rgba(218,218,218,1) 100%);
}

.container {
    &-sm {
        max-width: 530px;
        margin: 0 auto;
    }

}

h1 {
    font-weight: bold;
    font-size: 1.875rem; //30px
}

.text-sm {
    font-size: 0.875rem; //14px
}

.site-header {
    background: #000;
    padding: 3rem 0;
}

.inline-block {
    display: inline-block!important;
}
.font-weight-bold {
    font-weight: bold;
}