body {
    line-height: 1.4;
    font-family: 'Noto Serif', serif;
}

.container {
    max-width: 530px;
    margin: 0 auto;
}

h1 {
    font-weight: bold;
    font-size: 1.875rem;
}

.text-sm {
    font-size: 0.875rem;
}