<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700&display=swap", rel="stylesheet")
        
    body
        header.site-header
        .container
            h1 Your Basket
            p.text-sm Items you have added to your basket are shown below. Adjust the quantities or remove items before continuing your purchase.
                | Product						      Price         Qty                Cost      
            | Cotton T-Shirt, Medium
            | Baseball Cap, One Size
            | Swim Shorts, Medium

            | Subtotal
            | VAT @ 20%
            | Total Cost