<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700&display=swap", rel="stylesheet")

    body
        header.site-header
            .container
                a.site-header__logo(href="/index.html")
                    img(src="./images/logo.png", alt="Revonic", srcset="./images/logo@2x.png 2x")
        .container.container-sm
            .basket
                h1 Your Basket
                p.text-sm Items you have added to your basket are shown below. 
                    br
                    | Adjust the quantities or remove items before continuing your purchase.
                
                form(action="", method="post")
                    table.cart-table
                        thead
                            tr
                                th Product
                                th.price Price
                                th.qty Qty
                                th.cost Cost
                                th.action
                        tbody#basketItem
                        noscript Your browser javascript is disabled.
                        tr.text-center.hide(data-noproudcts)
                            td(colspan="5") No items to display
                            
                    table.cart-total
                        tr
                            td Subtotal
                            td(data-subtotal) 
                        tr
                            td VAT @ 20%
                            td(data-vat) 
                        tr.font-weight-bold.total
                            td Total Cost
                            td(data-totalcost) 
                        tr.submitbtn
                            td.text-right(colspan="2")
                                button.btn.btn-primary(type="submit", data-submit) Buy Now &raquo;
            
        footer.site-footer
            .container.container-sm
                p.m-0 &copy; <strong>2019 REVONIC Ltd</strong>. Registered in DUBAI

