<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700&display=swap", rel="stylesheet")

    body
        header.site-header
        .container-sm
            .basket
                //- h1 Your Basket
                p.text-sm Items you have added to your basket are shown below. Adjust the quantities or remove items before continuing your purchase.
                br
                br
                br
                
                table.cart-table
                    thead
                        tr
                            th Product
                            th Price
                            th Qty
                            th Cost
                            th.action
                    tbody#basketItem
                        
                table.cart-total
                    tr
                        td Subtotal
                        td(data-subtotal) 
                    tr
                        td VAT @ 20%
                        td(data-vat) 
                    tr.font-weight-bold
                        td Total Cost
                        td(data-totalcost) 
                    tr
                        td.text-right(colspan="2")
                            button(type="submit") Buy Now &raquo;

