<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Document
        link(href="https://fonts.googleapis.com/css?family=Noto+Serif:400,700&display=swap", rel="stylesheet")

    body
        header.site-header
        .container-sm
            .basket
                //- h1 Your Basket
                p.text-sm Items you have added to your basket are shown below. Adjust the quantities or remove items before continuing your purchase.
                br
                br
                br
                | 						                                     
                | 
                //- | 
                //- | 

                //- | 
                //- | 
                //- | 
                table.cart-table
                    thead
                        tr
                            th Product
                            th Price
                            th Qty
                            th Cost
                            th.action
                    tbody
                        tr
                            td(data-label='Account') Cotton T-Shirt, Medium
                            td(data-label='Due Date') €1.99
                            td(data-label='Amount')
                                .quantity
                                    input.form-control.inline-block(type="text", value="1")
                                    .quantity__btn-wrapper.inline-block
                                        button.btn.btn-plus 
                                        button.btn.btn-minus 
                            td(data-label='Period') €1.99
                            td
                                button.btn.btn-link
                                    svg.icon-trash(role='img', title='Delete', width="20px", height="20px")
                                        use(xlink:href='/images/sprite.svg#trash')
                        
                        tr
                            td(data-label='Account') Baseball Cap, One Size
                            td(data-label='Due Date') €2.99
                            td(data-label='Amount')
                                .quantity
                                    input.form-control.inline-block(type="text", value="2")
                                    .quantity__btn-wrapper.inline-block
                                        button.btn.btn-plus 
                                        button.btn.btn-minus 
                            td(data-label='Period') €5.98
                            td
                                button.btn.btn-link
                                    svg.icon-trash(role='img', title='Delete', width="20px", height="20px")
                                        use(xlink:href='/images/sprite.svg#trash')
                        
                        tr
                            td(data-label='Account') Swim Shorts, Medium
                            td(data-label='Due Date') €3.99
                            td(data-label='Amount')
                                .quantity
                                    input.form-control.inline-block(type="text", value="1")
                                    .quantity__btn-wrapper.inline-block
                                        button.btn.btn-plus 
                                        button.btn.btn-minus 
                            td(data-label='Period') €3.99
                            td
                                button.btn.btn-link
                                    svg.icon-trash(role='img', title='Delete', width="20px", height="20px")
                                        use(xlink:href='/images/sprite.svg#trash')

                table.cart-total
                    tr
                        td Subtotal
                        td €11.24
                    tr
                        td VAT @ 20%
                        td €2.24
                    tr.font-weight-bold
                        td Total Cost
                        td €14.24

